.body{
    height: 100vh;
    width: 100vw;
}
.body-container{
    position: relative;
    height: 100vh;
    width: 100vw;
    z-index: 1;
}
.top-container>h1{
    color: white;
    font-size: 28px;
    margin-top: 30px;
}
.info-text-wrapper>p{
    color: white;
    margin-top: 15px;
}
/* Styles for  mobile*/
@media (max-width:599px){
   
    .top-container{
        background-color: #1E9788;
        display: flex;
        flex-direction: column;
        padding: 10px 10px;
        box-sizing: border-box;
    }
    .top-container>*{
        margin-left: 20px;
    }
    .filtros-container{
        margin-left: 0;
        margin-top: 20px;
    }
    .info-text-wrapper{
        width: 70%;
    }
    .searcher-wrapper{
        width: 85%;
        margin-left: 20px;
    }
 
    .logos-container{
        margin-top: 5%;
    }
    .botones-container{
        display: flex;
        margin-left: 20px;
    }
    .botones-container>div{
        width: 50%;
        margin-top: 15px;
    }
    .bottom-container{
        height: 76%;
        max-width: 100vw;
        width: 100vw;
        overflow: auto;
        display: flex;
        justify-content: center; 
        align-items: center;
        flex-wrap: wrap;
    }
}
/* Styles for web */
@media (min-width:600px){
    .body-container{
        height: 100%;
    }
    .top-container{
        background-color: #1E9788;
        height: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .logos-container{
        margin-top: 2%;
    }
    .searcher-wrapper{
        width: 45%;
        margin-left: 5%;
    }
    .botones-container>div{
        margin-left: 5%;
    }
    .filtros-container{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        margin-top: 2%;
    }
    .botones-container{
        display: flex;
    }
    .top-container>h1{
        font-size: 40px;
    }
    .bottom-container{
        height: 60%;
        max-width: 100vw;
        width: 100vw;
        overflow: auto;
        display: flex;
        justify-content: center; 
        align-items: center;
        flex-wrap: wrap;
    }


}
