.body{
    height: 100vh;
    width: 100vw;
}
.body-container{
    position: relative;
    height: 100vh;
    width: 100vw;
    z-index: 1;
}
.top-container>h1{
    color: white;
    font-size: 28px;
    margin-top: 30px;
}
.info-text-wrapper>p{
    color: white;
    margin-top: 15px;
}
/* Styles for  mobile*/
@media (max-width:599px){
   
    .top-container{
        background-color: #1E9788;
        /* height: 38vh; */
        height: 45%;
        display: flex;
        flex-direction: column;
    }
    .top-container>*{
        margin-left: 20px;
    }
    .filtros-container{
        margin-left: 0;
        margin-top: 20px;
    }
    .info-text-wrapper{
        width: 70%;
    }
    .searcher-wrapper{
        width: 85%;
        margin-left: 20px;
    }
    .filter-wrapper{
        /* width: 30%; */
        /* margin-top: 15px; */
    }
    .logos-container{
        margin-top: 5%;
    }
    .botones-container{
        display: flex;
        /* justify-content: space-evenly; */
        margin-left: 20px;
    }
    .botones-container>div{
        width: 50%;
        margin-top: 15px;
    }
    .bottom-container{
        height: 82vh;
    }
    .scroll-container{
        /* background-color: blue; */
        height: 100%;
        overflow: scroll;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* margin-top: 5px; */
    }
}
/* Styles for web */
@media (min-width:600px){
    .body-container{
        height: 100%;
    }
    .top-container{
        background-color: #1E9788;
        height: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .filtros-container{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        margin-top: 2%;
        background-color: black;
    }
    .botones-container{
        display: flex;
    }
    .top-container>h1{
        font-size: 40px;
    }

}
